<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>wheeling demo</title>
    <script type="importmap">
    {
      "imports": {
        "wheeling/add": "https://ga.jspm.io/npm:wheeling@3.0.0/src/add.js",
        "wheeling/init": "https://ga.jspm.io/npm:wheeling@3.0.0/src/init.js",
        "wheeling/listen": "https://ga.jspm.io/npm:wheeling@3.0.0/src/listen.js",
        "wheeling/revoke": "https://ga.jspm.io/npm:wheeling@3.0.0/src/revoke.js",
        "wheeling/task": "https://ga.jspm.io/npm:wheeling@3.0.0/src/task.js",
        "wheeling/hooks/preventDefault": "https://ga.jspm.io/npm:wheeling@3.0.0/src/hooks/preventDefault.js",
        "wheeling/options/passive": "https://ga.jspm.io/npm:wheeling@3.0.0/src/options/passive.js"
      }
    }
    </script>
    <script async src="https://ga.jspm.io/npm:es-module-shims@0.12.8/dist/es-module-shims.min.js" crossorigin="anonymous"></script>

    <script src="/assets/default/js/hot.js" type="module"></script>
  </head>
  <body>
    <h1>wheeling demo</h1>
  </body>
</html>
